/* Стили для заголовков */
h1 {
    font-size: 2em; /* Крупный заголовок */
}

h2 {
    font-size: 1.5em; /* Менее крупный заголовок */
}

h3 {
    font-size: 1.2em; /* Самый мелкий заголовок */
}

/* Стили для списка */
ol {
    list-style-type: decimal; /* Нумерованный список */
}

ol li {
    margin-bottom: 0.5em; /* Отступ между пунктами списка */
}

/* Стили для текста */
b {
    font-weight: bold; /* Полужирный текст */
}

i {
    font-style: italic; /* Курсивный текст */
}

b i {
    font-weight: bold; /* Полужирный курсив */
    font-style: italic;
}