/* Стили для цветов текста */
.red {
    color: red; /* Красный текст */
}

.green {
    color: green; /* Зелёный текст */
}

.blue {
    color: blue; /* Синий текст */
}

/* Стили для текста */
.italic {
    font-style: italic; /* Курсивный текст */
}

.bold {
    font-weight: bold; /* Полужирный текст */
}